.sector-personas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1%;
    .personas {
        @include fichas (solid, 1px, $tertiary-color,10px, 2%);        
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            float: left;            
        }
        .personas_text {
            h2 {
                font-family: $main-font-family;
                color: $tertiary-color;            
            }
            p {
            font-family: $main-font-family;
            text-align: justify;        
            margin: 2%;
            }        
        }        
    }
}