.title--contact {
    animation: titles 0.8s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

.main--contact {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-areas:
    "title title"
    "form mapa"
    "form contacto";
    .title--contact {
        grid-area: title;
        font-family: $logo-font-family;
        text-align: center;
        background-color: $primary-color;
        padding: 20px;
    }
    .form {
        grid-area: form;
        label {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 15px;
            padding-top: 10px;
            font-family: $main-font-family;
        }
        input[type="text"], input[type="email"] {
            width: 95%;
            padding: 15px;
            margin-inline-start: 15px;
            margin-right: 15px;
        }
        textarea {
            width: 95%;
            height: 90%;
            padding: 15px;
            margin-inline-start: 15px;
            margin-right: 15px;
        }
        input[type="submit"] {
            @include button ($main-font-family, $btn-color, none, $primary-color, 10px 20px, 5px, auto);
            margin-left: 15px;
            margin-top: 15px;            
            justify-content: flex-start;
            align-items: flex-end;            
        }
    }
    .mapa {
        grid-area: mapa;
        iframe {
            width: 100%;
            border-radius: 25px;
            padding: 10px;
        }
    }
    .contacto {
        grid-area: contacto;
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            text-align: center;
            li {
                img {
                    width: 30px;
                }
            }
        }
    }
}