footer {
    background-color: $nav-color;
    height: 5px;
    .nav-footer {
        ul {
            list-style: none;
            justify-content: center;
            text-align: center;
            li {
                margin: 10px;
                display: inline;
            }
        }
    }
    .info-inf {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .info-inf-izq {
            padding: 10px;
        }
        .info-inf-der {
            ul{
                li {
                    list-style: none;
                    display: inline;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}