@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 0px;
        .marca-logo {
            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .inicio {
        .inicio__grid {        
            grid-template-columns: repeat(2, 49.5%);
            grid-template-areas:
            "title about"
            "acce bags"
            "dress contact";            
            margin: 2%;
            gap: 10px;
            .inicio__titulo {
                img {
                    visibility: hidden;
                }
            }            
        }
    }          

    .sector-personas {
        grid-template-columns: 1fr;
        .personas {
            display: flex;
            flex-direction: column;            
        }
    }
    
    .sector-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        .producto {
            width: 90%;
        }
    }

    .main--contact {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "form"
        "mapa"
        "contacto";
        .contacto {
            ul {
                flex-direction: column;
            }
        }
    }

    footer {
        .nav-footer {
            ul {
                li {
                    display: list-item;
                    margin: 0.5%;
                }
            }
        }
        .info-inf {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 1200px) {
    .sector-personas {        
        .personas {
            display: flex;
            flex-direction: column;          
        }
    }
}