.sector-productos {    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5%;
    .producto {
        @include fichas (solid, 1px, $tertiary-color,10px, 2%);
        width: 350px;
        animation: products 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        img {
            width: 100%;
            border-radius: 10px;            
        }
        p {
            text-align: center;
            font-family: $main-font-family;
            margin: 0%;
            color: $tertiary-color;
        }
        input[type="submit"] {
            @include button ($main-font-family, $btn-color, none, $tertiary-color, 5px, 5px, 100%);
        }
        input[type="submit"]:hover {
            color: $tertiary-color;     
            background-color: $btn-color;            
        }
    }
}

.pagination {
    justify-content: center;
    padding: 10px;
}
