$primary-color: #ffd8d8;
$secondary-color: #fffcdd;
$tertiary-color: #f5a2a2;
$quaternay-color: #805841;
$quinary-color: #dcf7f3;
$nav-color: white;
$btn-color: white;

$logo-font-family: "Dancing Script", serif;
$main-font-family: "Montserrat", serif;
$main-index-font: "Gochi Hand", cursive;