@import './scss/variables';
@import './scss/header';
@import './scss/index';
@import './scss/about';
@import './scss/products';
@import './scss/contact';
@import './scss/footer';
@import './scss/mediaqueries';
@import './scss/animations';

h1, h2 {
    font-family: $main-font-family;
    text-align: center;
    padding: 1px;
}
h4, h5 {
    font-family: $main-font-family;
    color: $tertiary-color;
}
.title {
    font-family: $logo-font-family;
    text-align: center;
    background-color: $primary-color;
    padding: 20px;
    animation: titles 0.8s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

