h1, h2 {
  font-family: "Montserrat", serif;
  text-align: center;
  padding: 1px;
}

h4, h5 {
  font-family: "Montserrat", serif;
  color: #f5a2a2;
}

.title {
  font-family: "Dancing Script", serif;
  text-align: center;
  background-color: #ffd8d8;
  padding: 20px;
  animation: titles 0.8s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

main {
  background-color: #fffcdd;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .marca-logo {
  justify-content: flex-start;
}
header .marca-logo ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
header .marca-logo ul li img {
  width: 60px;
  height: 60px;
}
header .marca-logo ul li p {
  font-family: "Dancing Script", serif;
  font-size: 40px;
  color: #ffd8d8;
}
header .nav-header ul {
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
header .nav-header ul li {
  display: inline;
  font-family: "Montserrat", serif;
  margin: 10px;
  color: #ffd8d8;
}
header .buscador ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}
header .buscador ul li .btn-1 {
  font-family: "Montserrat", serif;
}
header .buscador ul li .btn-1:hover {
  border-color: #ffd8d8;
}
header .buscador ul li .btn-2 {
  font-family: "Montserrat", serif;
  color: #ffd8d8;
  border-color: #ffd8d8;
}
header .buscador ul li .btn-2:hover {
  background-color: #ffd8d8;
  color: white;
}
header .buscador ul li img {
  width: 30px;
  margin: 10px;
}

.inicio {
  background-color: white;
}
.inicio h1, .inicio h2, .inicio h3 {
  font-family: "Gochi Hand", cursive;
  color: white;
  text-align: center;
}
.inicio .inicio__grid {
  display: grid;
  grid-template-columns: repeat(5, 19.5%);
  grid-template-areas: "title title title title title" "about acce bags dress contact";
  column-gap: 1%;
  row-gap: 1%;
  margin: 1%;
  gap: 10px;
}
.inicio .inicio__grid .inicio__titulo {
  grid-area: title;
  background-color: #fffcdd;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inicio .inicio__grid .inicio__titulo h1 {
  color: #805841;
}
.inicio .inicio__grid .inicio__titulo img {
  width: 10%;
}
.inicio .inicio__grid .inicio__acce, .inicio .inicio__grid .inicio__contact, .inicio .inicio__grid .inicio__dress, .inicio .inicio__grid .inicio__bags, .inicio .inicio__grid .inicio__about {
  grid-area: acce;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5a2a2;
}
.inicio .inicio__grid .inicio__acce img, .inicio .inicio__grid .inicio__contact img, .inicio .inicio__grid .inicio__dress img, .inicio .inicio__grid .inicio__bags img, .inicio .inicio__grid .inicio__about img {
  width: 100%;
}
.inicio .inicio__grid .inicio__about {
  grid-area: about;
  background-color: #805841;
}
.inicio .inicio__grid .inicio__bags {
  grid-area: bags;
  background-color: #dcf7f3;
}
.inicio .inicio__grid .inicio__dress {
  grid-area: dress;
  background-color: #ffd8d8;
}
.inicio .inicio__grid .inicio__contact {
  grid-area: contact;
  background-color: #f5a2a2;
}

.sector-personas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1%;
}
.sector-personas .personas {
  border: solid;
  border-width: 1px;
  border-color: #f5a2a2;
  border-radius: 10px;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sector-personas .personas img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  float: left;
}
.sector-personas .personas .personas_text h2 {
  font-family: "Montserrat", serif;
  color: #f5a2a2;
}
.sector-personas .personas .personas_text p {
  font-family: "Montserrat", serif;
  text-align: justify;
  margin: 2%;
}

.sector-productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 5%;
}
.sector-productos .producto {
  border: solid;
  border-width: 1px;
  border-color: #f5a2a2;
  border-radius: 10px;
  margin: 2%;
  width: 350px;
  animation: products 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.sector-productos .producto img {
  width: 100%;
  border-radius: 10px;
}
.sector-productos .producto p {
  text-align: center;
  font-family: "Montserrat", serif;
  margin: 0%;
  color: #f5a2a2;
}
.sector-productos .producto input[type=submit] {
  font-family: "Montserrat", serif;
  color: white;
  border: none;
  background-color: #f5a2a2;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
.sector-productos .producto input[type=submit]:hover {
  color: #f5a2a2;
  background-color: white;
}

.pagination {
  justify-content: center;
  padding: 10px;
}

.title--contact {
  animation: titles 0.8s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

.main--contact {
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-areas: "title title" "form mapa" "form contacto";
}
.main--contact .title--contact {
  grid-area: title;
  font-family: "Dancing Script", serif;
  text-align: center;
  background-color: #ffd8d8;
  padding: 20px;
}
.main--contact .form {
  grid-area: form;
}
.main--contact .form label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  padding-top: 10px;
  font-family: "Montserrat", serif;
}
.main--contact .form input[type=text], .main--contact .form input[type=email] {
  width: 95%;
  padding: 15px;
  margin-inline-start: 15px;
  margin-right: 15px;
}
.main--contact .form textarea {
  width: 95%;
  height: 90%;
  padding: 15px;
  margin-inline-start: 15px;
  margin-right: 15px;
}
.main--contact .form input[type=submit] {
  font-family: "Montserrat", serif;
  color: white;
  border: none;
  background-color: #ffd8d8;
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
  margin-left: 15px;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: flex-end;
}
.main--contact .mapa {
  grid-area: mapa;
}
.main--contact .mapa iframe {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
}
.main--contact .contacto {
  grid-area: contacto;
}
.main--contact .contacto ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}
.main--contact .contacto ul li img {
  width: 30px;
}

footer {
  background-color: white;
  height: 5px;
}
footer .nav-footer ul {
  list-style: none;
  justify-content: center;
  text-align: center;
}
footer .nav-footer ul li {
  margin: 10px;
  display: inline;
}
footer .info-inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .info-inf .info-inf-izq {
  padding: 10px;
}
footer .info-inf .info-inf-der ul li {
  list-style: none;
  display: inline;
}
footer .info-inf .info-inf-der ul li img {
  width: 30px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 0px;
  }
  header .marca-logo ul {
    flex-direction: column;
    align-items: center;
  }
  .inicio .inicio__grid {
    grid-template-columns: repeat(2, 49.5%);
    grid-template-areas: "title about" "acce bags" "dress contact";
    margin: 2%;
    gap: 10px;
  }
  .inicio .inicio__grid .inicio__titulo img {
    visibility: hidden;
  }
  .sector-personas {
    grid-template-columns: 1fr;
  }
  .sector-personas .personas {
    display: flex;
    flex-direction: column;
  }
  .sector-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
  .sector-productos .producto {
    width: 90%;
  }
  .main--contact {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "form" "mapa" "contacto";
  }
  .main--contact .contacto ul {
    flex-direction: column;
  }
  footer .nav-footer ul li {
    display: list-item;
    margin: 0.5%;
  }
  footer .info-inf {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .sector-personas .personas {
    display: flex;
    flex-direction: column;
  }
}
@keyframes titles {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes products {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
